@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

html{height: 100%;}
.login_content {width:100%;height:100%;margin:0;padding-top:0px;padding-bottom:40px;font-family: "Nanum Gothic", arial, helvetica, sans-serif;background-repeat: no-repeat;background:linear-gradient(to bottom right, #0098FF, #6BA8D1);}
.card {margin: 0 auto; /* Added */float: none; /* Added */margin-bottom: 10px; /* Added */box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.form-signin .form-control {position: relative;height: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 10px;font-size: 16px;}
.login_content{border:1px solid;height:100vh;display:flex;align-items:center;}


#content{width:100%}
.top{width:100%;border-bottom:1px solid #ccc; margin-bottom:10px;}
.top_title{width:100%; height:60px;display:flex;align-items:center;justify-content:space-between;background-color:#363636;color:#ddd;}
.top_title .tp{margin:0;padding:0;font-weight:700;font-size:18px;margin-left:2%;}
.top_title .btn-group{margin:0;padding:0;font-weight:700;font-size:18px;margin-right:3%;}
.top_title .btn-group .dropdown-menu{min-width:80px;width:100%;text-align:center;margin-right:45%;}
.top_title .btn-group .dropdown-menu > li > a{padding:0px;margin:0px;}
.place{display:flex;flex-direction:row;padding:10px;}
.left_menu{height:100px;width:10%;margin-right:10px;}
.left_menu div{width:100%;}
.left_menu button{margin-bottom:10px;}
button{border:1px solid #aaa}

#data_list{width:100%;height:auto;text-align:center;}
#data_list .list{width:70%;height:550px;border:1px solid #ccc;border-radius:10px;}
#data_list .list .red{color:red;}
#data_list .paging{width:70%;}
#data_list .mb_name{position:absolute;left:10px;bottom:0px;font-size:1.2rem;font-weight:bold;color:#8904B1;}
#data_list .th_num{width:5%;}
#data_list .th_name{width:10%;}
#data_list .th_cont{width:15%;}
#data_list .th_date{width:15%;}
#data_list .th_class{width:15%;}
#data_list td{height:50px;vertical-align:middle;}
.tr_head{background-color:#EFFBEF}
th{text-align:center;}


#mb_list{width:100%;height:auto;text-align:center;}
#mb_list .cont{width:100%; height:auto;padding-bottom:20px;display:flex;flex-direction:column;}
#mb_list .cont .layer_div{width:100%;display:flex;}
#mb_list .cont .list{width:60%;border:1px solid #ccc;border-radius:10px;}
#mb_list .cont .list .div_table{;}
#mb_list .cont .paging{width:60%;margin-top:1%;}
#mb_list .cont .tr_head{background-color:#EFFBEF}
#mb_list .cont .td_btn{width:20%;}
#mb_list .cont .td_btn button{width:30%;}
#mb_list .cont .td_btn .btn2{margin-left:10px;}
#mb_list .cont .td_num{width:5%;}
#mb_list .cont .td_id{width:10%;padding-top:20px;}
#mb_list .cont .td_cont{width:15%;}
#mb_list td {vertical-align:middle;}
#mb_list .cont .list .name_cont{padding-top:50px;}
#mb_list .cont .right{width:20%;border:1px solid #ccc;border-radius:10px;margin-left:3%;padding-bottom:10px;}
#mb_list .cont .right .btn{border:1px solid #aaa;margin-top:10px;}
#mb_list input{text-align:center;width:250px;margin:0 auto;}
#mb_list select{text-align:center;width:250px;margin:0 auto;}


#ad_list{width:100%;height:auto;text-align:center;}
#ad_list .cont{width:100%; height:auto;padding-bottom:20px;display:flex;flex-direction:column;}
#ad_list .cont .layer_div{width:100%;display:flex;}
#ad_list .cont .list{width:60%;border:1px solid #ccc;border-radius:10px;}
#ad_list .cont .list .div_table{height:;}
#ad_list .cont .paging{width:60%;margin-top:1%;}
#ad_list .cont .tr_head{background-color:#EFFBEF}
#ad_list .cont .td_btn{width:15%;}
#ad_list .cont .td_btn button{width:30%;}
#ad_list .cont .td_btn .btn2{margin-left:10px;}
#ad_list .cont .td_num{width:5%;}
#ad_list .cont .td_id{width:15%;}
#ad_list .cont .td_cont{width:17%;}
#ad_list td {vertical-align:middle;}
#ad_list .cont .right{width:20%;border:1px solid #ccc;border-radius:10px;margin-left:3%;padding-bottom:10px;}
#ad_list input{text-align:center;width:250px;margin:0 auto;}
#ad_list select{text-align:center;width:250px;margin:0 auto;}
#ad_list .btn .send{border:1px solid #aaa;}


#ad_trans{width:100%;height:auto;text-align:center;}
#ad_trans input::placeholder{font-size:12px;}
#ad_trans .cont{width:80%; height:auto;padding-bottom:20px;display:flex;justify-content:space-between;}
#ad_trans .cont .left{width:48%;}
#ad_trans .cont .right{width:38%;}
#ad_trans .cont .ipaddress{width:100%;border:1px solid #ccc;border-radius:10px;}
#ad_trans .cont .ipaddress div{border-bottom:1px solid #ccc;width:100%;margin:0 auto;height:80px;display:flex;align-items:center;justify-content:center;padding:10px;}
#ad_trans .cont .ipaddress div:last-child{border:0px;}
#ad_trans .cont .ipaddress .in_radio{margin-top:-2px;}
#ad_trans .cont .ipaddress .in_text{width:20%;margin-left:8px;text-align:center;outline:none;border:1px solid #ccc;  }
#ad_trans .cont .ipaddress select{width:20%;height:25px;margin-left:8px;text-align-last:center;border:1px solid #ccc;}
#ad_trans .cont .ipaddress .btn{margin-left:10px;}
#ad_trans .cont .data_send{width:100%;border:1px solid #ccc;margin-top:10px;border-radius:10px;padding:20px;}
#ad_trans .cont .data_send table{width:100%;margin-left:20px;}
#ad_trans .cont .data_send th{width:20%;}
#ad_trans .cont .data_send .td_cont{border-left:1px solid #ccc;height:45px;text-align:left; padding-left:15px;}
#ad_trans .cont .data_send .blank{height:20px;}
#ad_trans .cont .data_send .btn_td{text-align:right;padding-right:15%;padding-top:20px;}
#ad_trans .cont .data_send .btn_td .send{width:100px; border:1px solid #aaa;outline:none;}
#ad_trans .cont .data_send input{margin-right:10px;text-align:center;}
#ad_trans .cont .data_send select{width:80%;}
